.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.bg-image {
    position: relative;
}
html, body{
  height: 100%;
}
.bg {
    /* The image used */
    background-image: url("/assets/images/full-screen.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
  margin-bottom: 0px;
}
main{
  height: 100%;
}
.ui-parent-div{
  height: 100%;
}
.lead{
  font-size: 35px;
}
